<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Tmall.mapper.CategoryMapper">
	<resultMap type="Category" id="Categorymap">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
	</resultMap>
	
	<select id="list" resultMap="Categorymap">
		select * from category order by id desc limit #{start},#{count}
	</select>

	<select id="getAllCategory" resultMap="Categorymap">
		select * from category
	</select>

	<select id="total" resultType="int">
		select count(*) from category
	</select>
	
	<insert id="add"  useGeneratedKeys="true" keyProperty="id">
		insert into category (name)  values (#{name})
	</insert>
	
	<delete id="delete">
		delete from category where id=#{id}
	</delete>
	
	<select id="get" resultMap="Categorymap">
		select * from category where id=#{id}
	</select>
	
	<update id="update">
		update category set name=#{name} where id=#{id}
	</update>
</mapper>


