<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Tmall.mapper.OrderItemMapper">
    <resultMap type="OrderItem" id="OrderItemmap">
        <result property="id" column="oiid"/>
        <result property="pid" column="pid"/>
        <result property="oid" column="oid"/>
        <result property="uid" column="uid"/>
        <result property="number" column="number"/>
        <association property="product" javaType="Product">
            <result property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="subTitle" column="subTitle"/>
            <result property="originalPrice" column="originalPrice"/>
            <result property="promotePrice" column="promotePrice"/>
            <result property="stock" column="stock"/>
            <result property="cid" column="cid"/>
            <result property="createDate" column="createDate"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <select id="getByoid" resultMap="OrderItemmap">
            select    p.id,p.name,p.originalPrice,p.promotePrice,oi.number
            from orderitem oi,product p
            where oi.oid=#{oid} and oi.pid=p.id
    </select>
    <select id="getSaleCount" resultType="Integer">
        select sum(number) from orderitem  where  pid=#{pid}
    </select>
    <select id="getOderItemsByuid" resultMap="OrderItemmap">
    select    p.id,p.name,p.stock,p.promotePrice,p.originalPrice,oi.id oiid,oi.pid,oi.number
                from orderitem oi,product p
                where oi.uid=#{uid} and oi.pid=p.id  and oi.oid is null
    </select>
    <insert id="addOrderItem" >
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            select last_insert_id()
        </selectKey>
        insert into orderitem(pid,uid,number) values (#{pid},#{uid},#{number})
    </insert>
    <update id="updateOrderItem">
        update orderitem set number=#{number} where uid=#{uid} and pid=#{pid}
    </update>
    <select id="getOrderItem" resultMap="OrderItemmap">
        select    p.id,p.name,p.promotePrice,oi.number
            from orderitem oi,product p
            where oi.id=#{id} and oi.pid=p.id
    </select>
    <delete id="deleteOrderItem">
        delete  from orderitem where id=#{id}
    </delete>
    <update id="updateOrderItemoid">
        update orderitem set oid=#{oid} where id=#{id}
    </update>
</mapper>


