<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Tmall.mapper.UserMapper">
	<resultMap type="User" id="Usermap">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="password" column="password"/>
	</resultMap>
	
	<select id="list" resultMap="Usermap">
		select * from user order by id desc limit #{start},#{count}
	</select>
	
	<select id="total" resultType="int">
		select count(*) from user 
	</select>
	<select id="getUserByid" resultMap="Usermap">
		select * from user where id=#{id}
	</select>
	<update id="updateUserPwd">
		update user set password=#{password} where id=#{id}
	</update>
	<delete id="deleteUserByid">
		delete from user where id=#{id}
	</delete>
	<select id="userNameisExist" resultType="int">
		select count(*) from user where  name =#{name}
	</select>
	<insert id="userAdd">
		insert  into user(name,password) values (#{name},#{password})
	</insert>
	<select id="getUserName" resultType="String">
		select  name from user where name=#{name} and password=#{password}
	</select>
</mapper>


